.pastries-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    max-width: 90%;
    margin: 0 auto;
    gap: 1em;
}

.pastries-grid2 {
    transition: transform 0.2s ease;
}

.pastries-grid2 img:hover {
    transform: translateY(-5px);
}

.pastries-grid2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}
